.goBackButton {
    font-size: 20px;
    background-color: rgb(243, 39, 39);
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.gbWrapp {
    margin-right: auto;
    margin-left: 20px;
}